/* RESETEO */

* {
    box-sizing: border-box;
}

/* VARIABLES DE CSS */
:root {
    --titulo: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --letra: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --tinta: black;
    --fondo: white;
    --fondo-secundario: lightgray;
    --enlace: rgb(92, 92, 189);

    --margen-grande: 1rem;
    --margen: 0.5rem;
    --margen-pequeno: 0.25rem;

    --borde: 1px solid gray;
    --radio: var(--margen-pequeno);

    --sombra: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
}

/* CARACTERÍSTICAS GLOBALES */

body {
    font-family: var(--letra);

    color: var(--tinta);
    background-color: var(--fondo);

    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--titulo);

    text-align: center;
}

h1 {
    margin: 0;
    text-align: center;
}

h3 {
    border-bottom: var(--borde);

    font-variant: small-caps;

    &::before {
        color: var(--fondo-secundario);
        content: '<';
    }

    &::after {
        color: var(--fondo-secundario);
        content: '>';
    }
}

p {
    line-height: calc(1rem + var(--margen-pequeno));
}

pre {
    background-color: var(--fondo-secundario);

    padding: var(--margen);

    border: var(--borde);

    border-radius: var(--radio);
}

a {
    text-decoration: none;
    color: var(--enlace);

    &:hover {
        text-decoration: underline;
    }
}

/* CLASES */

.verde {
    color: green;
}

.iluminado {
    background-color: yellow;
    padding: var(--margen-pequeno);
    border-radius: var(--radio);
}

.verde.iluminado {
    background-color: green;
    color: white;
}

/* ESTRUCTURA */

header,
footer {
    color: var(--fondo);
    background-color: var(--tinta);

    padding: var(--margen);
}

body>nav {
    background-color: var(--fondo-secundario);

    /* padding: var(--margen) 0; */

    & ul {
        list-style: none;
        text-align: center;

        margin: 0;
        padding: 0;

        & a {
            display: inline-block;

            width: 100%;

            padding: var(--margen-pequeno);

            &:hover {
                text-decoration: none;

                background-color: var(--enlace);
                color: var(--fondo-secundario);
            }
        }
    }
}

main {
    padding: var(--margen);
}

#enlaces {
    & a {
        display: inline-block;
        width: 100%;

        margin: var(--margen-pequeno) 0;

        &::before {
            content: '- ';
        }
    }
}

#listas {
    & ol li li {
        list-style: lower-alpha;
    }

    & dt {
        font-weight: bold;
    }

    & dd {
        margin-left: 0;
        margin-bottom: var(--margen);
    }
}

#tablas {
    & table {
        width: 100%;
        border-collapse: collapse;

    }

    & caption {
        padding: var(--margen);
        background-color: var(--fondo-secundario);
        text-transform: uppercase;
    }

    & thead,
    & tfoot {
        color: var(--fondo);
        background-color: var(--tinta);
    }

    & tbody tr:nth-child(even) {
        background-color: var(--fondo-secundario)
    }

    & td,
    & th {
        border: var(--borde);
        padding: var(--margen-pequeno);
    }

    & tr {
        & :first-child {
            text-align: end;
        }
    }

    & th:nth-child(2),
    th:last-child {
        text-align: start;
    }
}

#multimedia {

    &>*,
    & img {
        width: 100%;
        border: 0;

        margin: var(--margen) 0;
    }

    .aspecto {
        position: relative;
        width: 100%;

        padding-bottom: calc(9/16 * 100%);

        &>iframe {
            position: absolute;

            border: 0;

            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

#formularios {

    fieldset,
    input,
    textarea,
    select,
    button {
        border: var(--borde);
        border-radius: var(--radio);

        padding: var(--margen-pequeno);

        margin-bottom: var(--margen);
    }

    fieldset {
        padding: var(--margen-grande);        
    }


    & input,
    textarea,
    select,
    button {
        width: 100%;
    }

    & button,
    input[type=submit],
    input[type=reset] {
        background-color: var(--fondo-secundario);
    }
}

aside {
    background-color: var(--fondo-secundario);

    & ul {
        margin: 0;
        padding: var(--margen);

        & li {
            text-align: center;
            padding: var(--margen-pequeno);
        }
    }
}

#arriba {
    position: fixed;

    bottom: 0;
    right: 0;

    margin: var(--margen-grande);
    padding: var(--margen-pequeno);

    background-color: var(--fondo-secundario);

    border: var(--borde);
    border-radius: var(--radio);

    box-shadow: var(--sombra);
}

@media (min-width: 768px) {
    body>nav {
        position: sticky;
        top: 0;

        z-index: 1;

        & ul {
            display: flex;
        }
    }

    main {
        padding: calc(var(--margen-grande) * 3);
    }

    #html {
        display: flex;
        flex-wrap: wrap;

        &>* {
            width: 100%;
        }

        #parrafos {
            width: 50%;
        }

        #enlaces {
            width: 20%;
        }

        #listas {
            width: 30%;
        }
    }

    #formularios {
        display: flex;
        flex-wrap: wrap;

        &>* {
            width: 100%;
        }

        & form:first-of-type, & form:nth-of-type(2) {
            width: 50%;

            & fieldset {
                height: 100%;
            }
        }

        & form:last-of-type {
            margin-top: var(--margen-grande);
            display: flex;
            flex-wrap: wrap;

            gap: var(--margen);

            &>* {
                width: calc(33.33333% - var(--margen) * 2 / 3);
                margin: 0;
            }

            &>.inputs {
                order: 0;
            }

            &>.checks {
                order: 1;
            }

            &>.otros {
                order: 2;
            }

            &>.grandes {
                order: 3;
            }

            &>.botones {
                order: 4;
            }

            &>[type=color] {
                height: auto;
            }
        }
    }

    aside>nav ul {
        display: flex;

        list-style: none;
    }

    #arriba {
        display: none;
    }
}