/* TIPOS DE LETRA */
/* Karla y Nunito */
@import url(fonts.css);

/* FontAwesome */
@import url(all.min.css);

/* RESETEO */

* {
    box-sizing: border-box;
}

/* VARIABLES DE CSS */
:root {
    --titulo: "Karla", sans-serif;
    --letra: "Nunito Sans", sans-serif;

    --tinta: black;
    --fondo: white;
    --fondo-secundario: lightgray;
    --enlace: rgb(92, 92, 189);

    --margen-grande: 1rem;
    --margen: 0.5rem;
    --margen-pequeno: 0.25rem;

    --borde: 1px solid gray;
    --radio: var(--margen-pequeno);

    --sombra: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
}

/* CARACTERÍSTICAS GLOBALES */

body {
    font-family: var(--letra);

    color: var(--tinta);
    background-color: var(--fondo);

    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--titulo);

    text-align: center;
}

h1 {
    margin: 0;
    text-align: center;
}

h3 {
    border-bottom: var(--borde);

    font-variant: small-caps;

    &::before {
        color: var(--fondo-secundario);
        content: '<';
    }

    &::after {
        color: var(--fondo-secundario);
        content: '>';
    }
}

p {
    line-height: calc(1rem + var(--margen-pequeno));
}

pre {
    background-color: var(--fondo-secundario);

    padding: var(--margen);

    border: var(--borde);

    border-radius: var(--radio);
}

a {
    text-decoration: none;
    color: var(--enlace);

    &:hover {
        text-decoration: underline;
    }
}

/* CLASES */

.verde {
    color: green;
}

.iluminado {
    background-color: yellow;
    padding: var(--margen-pequeno);
    border-radius: var(--radio);
}

.verde.iluminado {
    background-color: green;
    color: white;
}

/* ESTRUCTURA */

header,
footer {
    color: var(--fondo);
    background-color: var(--tinta);

    padding: var(--margen);
}

body>nav {
    background-color: var(--fondo-secundario);

    /* padding: var(--margen) 0; */

    & ul {
        list-style: none;
        text-align: center;

        margin: 0;
        padding: 0;

        & a {
            display: inline-block;

            width: 100%;

            padding: var(--margen-pequeno);

            &:hover {
                text-decoration: none;

                background-color: var(--enlace);
                color: var(--fondo-secundario);
            }
        }
    }
}

main {
    padding: var(--margen);
}

#enlaces {
    & a {
        display: inline-block;
        width: 100%;

        margin: var(--margen-pequeno) 0;

        &::before {
            content: '- ';
        }
    }
}

#listas {
    & ol li li {
        list-style: lower-alpha;
    }

    & dt {
        font-weight: bold;
    }

    & dd {
        margin-left: 0;
        margin-bottom: var(--margen);
    }
}

#tablas {
    & table {
        width: 100%;
        border-collapse: collapse;

    }

    & caption {
        padding: var(--margen);
        background-color: var(--fondo-secundario);
        text-transform: uppercase;
    }

    & thead,
    & tfoot {
        color: var(--fondo);
        background-color: var(--tinta);
    }

    & tbody tr:nth-child(even) {
        background-color: var(--fondo-secundario)
    }

    & td,
    & th {
        border: var(--borde);
        padding: var(--margen-pequeno);
    }

    & tr {
        & :first-child {
            text-align: end;
        }
    }

    & th:nth-child(2),
    th:last-child {
        text-align: start;
    }
}

#multimedia {

    &>*,
    & img {
        width: 100%;
        border: 0;

        margin: var(--margen) 0;
    }

    .aspecto {
        position: relative;
        width: 100%;

        padding-bottom: calc(9/16 * 100%);

        &>iframe {
            position: absolute;

            border: 0;

            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

#formularios {

    fieldset,
    input,
    textarea,
    select,
    button {
        border: var(--borde);
        border-radius: var(--radio);

        padding: var(--margen-pequeno);

        margin-bottom: var(--margen);
    }

    fieldset {
        padding: var(--margen-grande);
    }


    & input,
    textarea,
    select,
    button {
        width: 100%;
    }

    & button,
    input[type=submit],
    input[type=reset] {
        background-color: var(--fondo-secundario);
    }
}

aside {
    background-color: var(--fondo-secundario);

    & ul {
        margin: 0;
        padding: var(--margen);

        & li {
            text-align: center;
            padding: var(--margen-pequeno);
        }
    }
}

footer {
    &>* {
        text-align: center;
    }

    & #redes-sociales {
        list-style: none;
        display: flex;

        justify-content: center;

        padding: 0;

        & a {
            color: var(--fondo);
            padding: var(--margen);
        }
    }

    & #arriba {
        position: fixed;

        bottom: 0;
        right: 0;

        margin: var(--margen-grande);
        padding: var(--margen-pequeno);

        background-color: var(--fondo-secundario);

        border: var(--borde);
        border-radius: var(--radio);

        box-shadow: var(--sombra);
    }
}

@media (min-width: 768px) {
    body>nav {
        position: sticky;
        top: 0;

        z-index: 1;

        & ul {
            display: flex;
        }
    }

    main {
        padding: calc(var(--margen-grande) * 3);
    }

    #html {
        display: flex;
        flex-wrap: wrap;

        &>* {
            width: 100%;
        }

        #parrafos {
            width: 50%;
        }

        #enlaces {
            width: 20%;
        }

        #listas {
            width: 30%;
        }
    }

    #formularios {
        display: flex;
        flex-wrap: wrap;

        &>* {
            width: 100%;
        }

        & form:first-of-type,
        & form:nth-of-type(2) {
            width: 50%;

            & fieldset {
                height: 100%;
            }
        }

        & form:last-of-type {
            margin-top: var(--margen-grande);
            display: flex;
            flex-wrap: wrap;

            gap: var(--margen);

            &>* {
                width: calc(33.33333% - var(--margen) * 2 / 3);
                margin: 0;
            }

            &>.inputs {
                order: 0;
            }

            &>.checks {
                order: 1;
            }

            &>.otros {
                order: 2;
            }

            &>.grandes {
                order: 3;
            }

            &>.botones {
                order: 4;
            }

            &>[type=color] {
                height: auto;
            }
        }
    }

    aside>nav ul {
        display: flex;

        list-style: none;
    }

    #arriba {
        display: none;
    }
}

@media (min-width: 1024px) {
    #multimedia {
        display: grid;

        gap: var(--margen-grande);

        grid-template-columns: 1fr 1fr;

        & h3,
        & audio {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        & video {
            grid-row-start: 2;
            grid-column-start: 2;
        }

        .aspecto:last-of-type {
            grid-column-start: 2;
            grid-row-start: 4;
        }

        .aspecto:nth-of-type(2) {
            grid-column: span 2;
        }
    }
}

@media (min-width: 1440px) {
    #html {
        display: grid;
        gap: calc(var(--margen-grande) * 5);

        align-items: start;

        grid-template-columns: 5fr 3fr 2fr 5fr;

        grid-template-areas:
            "titulo-html    titulo-html     titulo-html     titulo-html"
            "parrafos       listas          enlaces         tablas     "
            "multimedia     multimedia      formularios     formularios"
            "multimedia     multimedia      formularios     formularios";

        &>* {
            width: 100% !important;
        }

        &>h2 {
            grid-area: titulo-html;
        }

        #parrafos {
            grid-area: parrafos;
        }

        #listas {
            grid-area: listas;
        }

        #enlaces {
            grid-area: enlaces;
        }

        #tablas {
            grid-area: tablas;
        }

        #multimedia {
            grid-area: multimedia;
        }

        #formularios {
            grid-area: formularios;
        }
    }

    #multimedia {
        grid-template-columns: 1fr 1fr 1fr;

        & h3,
        & audio {
            grid-column: span 3;
        }

        & video {
            grid-column: span 2;
        }

        & .aspecto:nth-of-type(2) {
            grid-row-start: 4;
            grid-column-start: 3;
        }
    }
}

@media (min-width: 2560px) {
    body {
        display: grid;

        grid-template-columns: auto 1fr auto;

        grid-template-areas:
            "cabecera   cabecera    cabecera"
            "menu       contenido   anuncios"
            "pie        pie         pie";

        & nav>ul {
            flex-direction: column;
        }

        &>header {
            grid-area: cabecera;
        }

        &>nav {
            grid-area: menu;
        }

        &>main {
            grid-area: contenido;
        }

        &>aside {
            grid-area: anuncios;
        }

        &>footer {
            grid-area: pie;
        }
    }
}