@font-face {
    src: url(../fonts/Karla/Karla-VariableFont_wght.ttf);
    font-family: 'Karla';
}

@font-face {
    src: url(../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
    font-family: 'Nunito Sans';
}